http://demo.home.arpa {
	encode zstd gzip
	reverse_proxy homeops-demo:8080
}

http://portainer.home.arpa {
	encode zstd gzip
	log
	reverse_proxy portainer:9000
}

http://status.home.arpa {
	encode zstd gzip
	log
	reverse_proxy uptime-kuma:3001
}

http://supabase.home.arpa {
	encode zstd gzip
	log
	reverse_proxy supabase-envoy:8000
}

http://app.home.arpa {
	encode zstd gzip
	log
	reverse_proxy forge-of-becoming:3000
}

https://cloud.home.arpa {
	encode zstd gzip
	log
	tls internal
	reverse_proxy nextcloud-aio-apache:11000
}

https://cloud-admin.home.arpa {
	encode zstd gzip
	log
	tls internal
	reverse_proxy https://nextcloud-aio-mastercontainer:8080 {
		header_up Host {host}
		transport http {
			tls_insecure_skip_verify
		}
	}
}
