http://demo.home.arpa {
	encode zstd gzip
	reverse_proxy homeops-demo:8080
}

http://portainer.home.arpa {
	encode zstd gzip
	log
	reverse_proxy portainer:9000
}

http://status.home.arpa {
	encode zstd gzip
	log
	reverse_proxy uptime-kuma:3001
}

http://supabase.home.arpa {
	encode zstd gzip
	log
	reverse_proxy supabase-envoy:8000
}
